.container{
    display: flex;
    /* gap: 50px;
    justify-content: center; */
    padding: 20px;
    background-color: rgb(235, 154, 188);
    height: 200px;
}

.card{
    background-color: rgb(248, 246, 178);
    color: rgb(23, 54, 54);
    padding: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 5px;
}

.row-center{
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.column-left{
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.row-end{
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.linha-espacada{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.wrap{
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}