

body {
    background-color: #1e293b;
    color: #f8fafc;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculadora-container {
    background-color: #0f172a;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
    width: 100%;
    max-width: 420px;
    text-align: center;
}

h1 {
    font-size: 1.6rem;
    margin-bottom: 24px;
    color: #38bdf8;
}

/* Grupo dos Inputs de Numero */
.input-group {
    display: flex;
    gap: 12px;
    margin-bottom: 20px;
}

input[type="number"] {
    width: 100%;
    padding: 12px;
    font-size: 1.1rem;
    background-color: #1e293b;
    border: 2px solid #334155;
    border-radius: 8px;
    color: #ffffff;
    text-align: center;
    outline: none;

}


/* Grupo dos Botões */
.button-group {
    display: grid;
    gap: 10px;
    margin-bottom: 20px;
}

input[type="button"] {
    padding: 12px;
    font-size: 1rem;
    font-weight: 600;
    background-color: #0284c7;
    color: #ffffff;
    border: none;
    border-radius: 8px;
}


/* botao limpar */
input[type="button"].btn-clear {
    grid-column: span 2;
    background-color: #ef4444;
}


/* Área de Resultado */
#resultado {
    font-size: 1.1rem;
    min-height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1e293b;
    border-radius: 8px;
    padding: 10px;
    color: #e2e8f0;
}

#resultado strong {
    color: #38bdf8;
    margin-left: 4px;
}