/* CSS */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.luz {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: gray;
}

button#btnPare {
    background-color: red;
    color: white;
}

button#btnAtencao {
    background-color: yellow;
    color: black;
}

button#btnSiga {
    background-color: green;
    color: white;
}